@theme "~/.cache/wal/colors-rofi-dark.rasi"

* {
	bg: @background;
	background-color: @bg;
}


configuration {
		icon-theme: "";
	location: 0;
	font: "JetBrainsMono Nerd Font 12";	
	display-drun: "Launch:";
}

window { 
	width: 35%;
	transparency: "real";
	orientation: vertical;
	border-color: #74adc0;
}

mainbox {
	children: [inputbar, listview];
}



